/*
 * Calendar grid (HTML & Canvas)
 */
.zarafa-calendar-grid-purple .zarafa-calendar-grid-group-header
{
	border-color: #8c6dce;
}

.zarafa-calendar-grid-purple .zarafa-calendar-grid-group-title
{
	color: #8c6dce;
}

.zarafa-calendar-grid-purple.zarafa-calendar-grid-row
{
	background-image: none ! important;
	background-color: #bdaee7 ! important;
}

/*
 * Calendar (HTML & Canvas)
 */
.zarafa-calendar-header .zarafa-calendar-purple.zarafa-calendar-container-header
{
	background-color: #bdaee7;
}

.zarafa-calendar-body .zarafa-calendar-purple.zarafa-calendar-border
{
	background-color: #ad9ade;
	border-color: #8c6dce;
}

/*
 * Calendar Tabs (HTML & Canvas)
 */
.zarafa-calendar-tabarea .zarafa-calendar-purple.zarafa-calendar-tab-body
{
	background-image: url(../images/calendar/cs_purple_timestrip_tab_center.png);
}

.zarafa-calendar-tabarea .zarafa-calendar-purple.zarafa-calendar-tab-leftside
{
	background-image: url(../images/calendar/cs_purple_timestrip_tab_left.png);
}

.zarafa-calendar-tabarea .zarafa-calendar-purple.zarafa-calendar-tab-rightside
{
	background-image: url(../images/calendar/cs_purple_timestrip_tab_right.png);
}
