/*
 * Calendar grid (HTML & Canvas)
 */
.zarafa-calendar-grid-blue .zarafa-calendar-grid-group-header
{
	border-color: #5a8ece;
}

.zarafa-calendar-grid-blue .zarafa-calendar-grid-group-title
{
	color: #5a8ece;
}

.zarafa-calendar-grid-blue.zarafa-calendar-grid-row
{
	background-image: none ! important;
	background-color: #a5bee7 ! important;
}

/*
 * Calendar (HTML & Canvas)
 */
.zarafa-calendar-header .zarafa-calendar-blue.zarafa-calendar-container-header
{
	background-color: #a5bee7;
}

.zarafa-calendar-body .zarafa-calendar-blue.zarafa-calendar-border
{
	background-color: #8caede;
	border-color: #5a8ece;
}

/*
 * Calendar Tabs (HTML & Canvas)
 */
.zarafa-calendar-tabarea .zarafa-calendar-blue.zarafa-calendar-tab-body
{
	background-image: url(../images/calendar/cs_blue_timestrip_tab_center.png);
}

.zarafa-calendar-tabarea .zarafa-calendar-blue.zarafa-calendar-tab-leftside
{
	background-image: url(../images/calendar/cs_blue_timestrip_tab_left.png);
}

.zarafa-calendar-tabarea .zarafa-calendar-blue.zarafa-calendar-tab-rightside
{
	background-image: url(../images/calendar/cs_blue_timestrip_tab_right.png);
}
