/*
 * Calendar grid (HTML & Canvas)
 */
.zarafa-calendar-grid-green .zarafa-calendar-grid-group-header
{
	border-color: #73a65a;
}

.zarafa-calendar-grid-green .zarafa-calendar-grid-group-title
{
	color: #73a65a;
}

.zarafa-calendar-grid-green.zarafa-calendar-grid-row
{
	background-image: none ! important;
	background-color: #b5cfa5 ! important;
}

/*
 * Calendar (HTML & Canvas)
 */
.zarafa-calendar-header .zarafa-calendar-green.zarafa-calendar-container-header
{
	background-color: #b5cfa5;
}

.zarafa-calendar-body .zarafa-calendar-green.zarafa-calendar-border
{
	background-color: #9cbe8c;
	border-color: #73a65a;
}

/*
 * Calendar Tabs (HTML & Canvas)
 */
.zarafa-calendar-tabarea .zarafa-calendar-green.zarafa-calendar-tab-body
{
	background-image: url(../images/calendar/cs_green_timestrip_tab_center.png);
}

.zarafa-calendar-tabarea .zarafa-calendar-green.zarafa-calendar-tab-leftside
{
	background-image: url(../images/calendar/cs_green_timestrip_tab_left.png);
}

.zarafa-calendar-tabarea .zarafa-calendar-green.zarafa-calendar-tab-rightside
{
	background-image: url(../images/calendar/cs_green_timestrip_tab_right.png);
}
